# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Use system Python to avoid venv issues with Python 3.13
repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]

      - id: check-yaml
        name: check-yaml
        entry: poetry run python -c "import yaml; [yaml.safe_load(open(f)) for f in __import__('sys').argv[1:]]"
        language: system
        types: [yaml]
        pass_filenames: true

      - id: check-toml
        name: check-toml
        entry: poetry run python -c "import tomllib; [tomllib.load(open(f, 'rb')) for f in __import__('sys').argv[1:]]"
        language: system
        types: [toml]
        pass_filenames: true

      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py310-plus
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: poetry run isort --profile black
        language: system
        types: [python]

      - id: black
        name: black
        entry: poetry run black --check --diff
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run mypy --ignore-missing-imports src/
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [pre-commit]
        entry: poetry run pytest
        language: system
        pass_filenames: false
        types: [python]
